<footer class="ftco-footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-sm-12 col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2 logo">
                        <a href="#">
                            Réseaux Sociaux
                        </a>
                    </h2>
                    <p>
                        Restons connectés pour ne rien rater de nos actualités et promotions.
                    </p>
                    <ul class="ftco-footer-social list-unstyled mt-2">
                        <li class="ftco-animate">
                            <a href="https://web.facebook.com/editionscalebasse">
                                <span class="fa fa-facebook"></span>
                            </a>
                        </li>
                        <li class="ftco-animate">
                            <a href="#">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li class="ftco-animate">
                            <a href="https://www.instagram.com/editionscalebasse/">
                                <span class="fa fa-instagram"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">
                        Vous avez une question ?
                    </h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li>
                                <span class="icon fa fa-map marker"></span>
                                <span class="text">
                                    28 BP 1227 Abidjan 28
                                </span>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon fa fa-phone"></span>
                                    <span class="text">
                                        +225 07 88 04 04 04
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon fa fa-paper-plane pr-4"></span>
                                    <span class="text">
                                        leseditionscalebasse@yahoo.fr
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid px-0 py-1 bg-black">
    </div>
</footer>