<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <% for (car of carousels) { %>
`
        <% } %>
        
        <section class="hero-wrap swiper-slide" style="background-image: url('/images/bg_1.jpg');"
            data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center">
                    <div class="col-md-8 ftco-animate d-flex align-items-end">
                        <div class="text w-100">
                            <h1 class="mb-4">Les bons livres ne livrent pas tous leurs secrets en même temps</h1>
                            <p class="mb-4">Une petite rivière nommée Duden coule près de chez eux et les approvisionne
                                en
                                regelialia.
                            </p>
                            <p>
                                <a href="/book/list" class="btn btn-primary py-3 px-4">
                                    Voir tous les livres
                                </a>
                                <a href="/top-reading" class="btn btn-white py-3 px-4">
                                    Explorer maintenant
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>